<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/public/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="columns">
        <%- include('menubar.ejs') %>
        <div class="column is-10">
            Not Implemented Yet...
        </div>
    </div>
    <div class="copyright has-text-white">@Minseo Kim_23_SS_Project</div>
    
    <script src="/public/js/jquery-3.7.0.js"></script>
    <script src="/public/js/socket.io.js"></script>
    <script src="/public/js/index.js"></script>
</body>
</html>